
bin/Debug/net7.0/System.Web.Http.dll
bin/Debug/net7.0/System.Text.Json.dll
bin/Debug/net7.0/System.Text.Encodings.Web.dll
bin/Debug/net7.0/System.Net.Http.Formatting.dll
bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net7.0/runtimes/browser/lib/net7.0/System.Text.Encodings.Web.dll
bin/Debug/net7.0/Newtonsoft.Json.dll
bin/Debug/net7.0/Newtonsoft.Json.Bson.dll
bin/Debug/net7.0/Microsoft.OpenApi.dll
bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net7.0/Microsoft.Extensions.Options.dll
bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net7.0/appsettings.json
bin/Debug/net7.0/appsettings.Development.json
bin/Debug/net7.0/Amega.BinanceService.Webapi.staticwebassets.runtime.json
bin/Debug/net7.0/Amega.BinanceService.Webapi.runtimeconfig.json
bin/Debug/net7.0/Amega.BinanceService.Webapi.pdb
bin/Debug/net7.0/Amega.BinanceService.Webapi.exe
bin/Debug/net7.0/Amega.BinanceService.Webapi.dll
bin/Debug/net7.0/Amega.BinanceService.Webapi.deps.json
Amega.BinanceService.Webapi.csproj.user
Controllers/FinancialController.cs
obj/Amega.BinanceService.Webapi.csproj.nuget.dgspec.json
obj/Amega.BinanceService.Webapi.csproj.nuget.g.props
obj/Amega.BinanceService.Webapi.csproj.nuget.g.targets
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/Amega.BinanceService.Webapi.AssemblyInfo.cs
obj/Debug/net7.0/Amega.BinanceService.Webapi.AssemblyInfoInputs.cache
obj/Debug/net7.0/Amega.BinanceService.Webapi.assets.cache
obj/Debug/net7.0/Amega.BinanceService.Webapi.csproj.AssemblyReference.cache
obj/Debug/net7.0/Amega.BinanceService.Webapi.csproj.BuildWithSkipAnalyzers
obj/Debug/net7.0/Amega.BinanceService.Webapi.csproj.CopyComplete
obj/Debug/net7.0/Amega.BinanceService.Webapi.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/Amega.BinanceService.Webapi.csproj.FileListAbsolute.txt
obj/Debug/net7.0/Amega.BinanceService.Webapi.dll
obj/Debug/net7.0/Amega.BinanceService.Webapi.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/Amega.BinanceService.Webapi.genruntimeconfig.cache
obj/Debug/net7.0/Amega.BinanceService.Webapi.GlobalUsings.g.cs
obj/Debug/net7.0/Amega.BinanceService.Webapi.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net7.0/Amega.BinanceService.Webapi.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net7.0/Amega.BinanceService.Webapi.pdb
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/ref/Amega.BinanceService.Webapi.dll
obj/Debug/net7.0/refint/Amega.BinanceService.Webapi.dll
obj/Debug/net7.0/staticwebassets.build.json
obj/Debug/net7.0/staticwebassets.development.json
obj/Debug/net7.0/staticwebassets.pack.json
obj/Debug/net7.0/staticwebassets/msbuild.Amega.BinanceService.Webapi.Microsoft.AspNetCore.StaticWebAssets.props
obj/Debug/net7.0/staticwebassets/msbuild.build.Amega.BinanceService.Webapi.props
obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Amega.BinanceService.Webapi.props
obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Amega.BinanceService.Webapi.props
obj/project.assets.json
obj/project.nuget.cache
